* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

span {
    color: #1E99FF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

#main-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
}

#main-nav > ul {
    margin: 0;
    float: right;
    height: 40px;
}

#main-nav > ul > li {
    list-style: none;
    display: inline;
    padding: 0 50px 50px;
}

#main-nav > ul > li > a {
    text-decoration: none;
    color: #1E99FF;
}

#main-header {
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    z-index: -1
}

#main-header .main-header-container {
    text-align: center;
    padding: 30vh;
}

#main-header .main-header-container h1 {
    font-family: 'Roboto', sans-serif;
}

#about {
    overflow: hidden;
    background-color: #F8F8FF;
}

#about > figure {
    float: left;
    margin: 0;
    text-align: center;
    width: 50%;
    top: 30px;
}

#about > figure > img {
    max-height: 350px;
    max-width: 100%;
    border: 13px #fff solid;
    border-radius: 15px;
}

#about > article {
    width: 50%;
    float: left;
}

#skills > p {
    text-align: center;
}

#skills div#skills-icons{
    text-align: center;
}

#skills #skills-icons figure{
    display: inline-block;
}

#portfolio #portfolio-item-1{
    background-image: url(../img/portfolio1.jpg);
}

#portfolio #portfolio-item-2{
    background-image: url(../img/portfolio2.jpg);
}

#portfolio #portfolio-item-3{
    background-image: url(../img/portfolio3.jpg);
}

#portfolio .portfolio-items .portfolio-item{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 33%;
    display: inline-block;
    position: relative;
}