* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

span {
    color: #1E99FF;
}

h1,
h2 {
    text-align: center;
}

#main-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
}

#main-nav > ul {
    margin: 0;
    float: right;
    height: 40px;
}

#main-nav > ul > li {
    list-style: none;
    display: inline;
    padding: 0 50px 50px;
}

#main-nav > ul > li > a {
    text-decoration: none;
    color: #1E99FF;
}

#main-header {
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    z-index: -1
}

#main-header .main-header-container {
    text-align: center;
    padding: 30vh;
}

#main-header .main-header-container h1 {
    font-family: 'Roboto', sans-serif;
}

#about {
    overflow: hidden;
    background-color: #F8F8FF;
}

#about > figure {
    float: left;
    margin: 0;
    text-align: center;
    width: 50%;
    top: 30px;
}

#about > figure > img {
    max-height: 350px;
    max-width: 100%;
    border: 13px #fff solid;
    border-radius: 15px;
}

#about > article {
    width: 50%;
    float: left;
}

#skills > p {
    text-align: center;
}

#skills div#skills-icons {
    text-align: center;
}

#skills #skills-icons figure {
    display: inline-block;
}

#portfolio #portfolio-item-1 {
    background-image: url(../img/portfolio1.jpg);
}

#portfolio #portfolio-item-2 {
    background-image: url(../img/portfolio2.jpg);
}

#portfolio #portfolio-item-3 {
    background-image: url(../img/portfolio4.jpg);
}

#portfolio .portfolio-items {
    text-align: center;
    font-size: 0;
    color: #fff;
    background-color: #fff;
    margin-bottom: 50px;
}

#portfolio .portfolio-items .portfolio-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    position: relative;
    width: 33%;
    height: 350px;
}

#portfolio .portfolio-items .portfolio-item .mask-item {
    background-color: rgba(42, 61, 79, 0.8);
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    position: absolute;
    font-size: initial;
}

#portfolio .portfolio-items .portfolio-item .mask-item:hover {
    opacity: 1;
}

#portfolio .portfolio-items .portfolio-item .mask-item .content-item {
    border: 1px solid #fff;
    margin: 10px;
    height: 330px;
}

#portfolio .portfolio-items .portfolio-item .mask-item .content-item .content-item-inner{
    margin-top: 15%;
    position: absolute;
}

#portfolio .portfolio-items .portfolio-item .mask-item .content-item .content-item-inner a{
    color: #fff;
}

#portfolio .portfolio-items .portfolio-item .mask-item .content-item .content-item-inner a:hover{
    color: #1E99FF; 
}

#contact{
    background-color: #213b50;
    color: #fff;
    overflow: hidden;
}

#contact .contact-data{
    float: left;
    width: 50%;
    margin: 20px;
}
